<header>
    <nav>
      <a class="logo" href="/">Enquetes</a>
      <ul class="nav-list">
        <li><a href="/">Home</li>
        <li><a href="/cadastrar">Cadastrar Enquete</a></li>

      </ul>
    </nav>
  </header>