<%- include("partials/head.ejs", {Screen: 'Cadastrar' }); %>

    <body>
        <%- include("partials/navbar.ejs") %>

            <form class="form-body" action="/cadastrar" method="post" autocomplete="off">
                <h1>Registre uma Enquete</h1>
                <section class="enquete-data">
                    <div>
                        <label for="title">Titulo</label>
                        <br>
                        <input type="text" name="titulo" required>
                    </div>
                    <div>
                        <label for="inicio">Data Inicial</label>
                        <br>
                        <input type="date" name="inicio" required>
                    </div>
                    <div>
                        <label for="fim">Data Final</label>
                        <br>
                        <input type="date" name="fim" required> 
                    </div>
                </section>

                <section class="pergunta-data">
                    <div>
                        <label for="resposta">Resposta</label>
                        <br>
                        <input type="text" name="resposta" required>
                    </div>
                    <div>
                        <label for="resposta">Resposta</label>
                        <br>
                        <input type="text" name="resposta" required>
                    </div>
                    <div>
                        <label for="resposta">Resposta</label>
                        <br>
                        <input type="text" name="resposta" required>
                    </div>
                </section>

                <section class="button-box">
                    <input type="submit" value="Cadastrar" class="btn">
                </section>

            </form>


    </body>


    <%- include("partials/footer.ejs") %>