header{
    top: 0;
    width: 100vw;
    z-index: 99;
    margin-bottom: 2vh;
}
a {
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
  }
 a:hover {
    opacity: 0.8;
  }
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    left: 50px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(37, 0, 48);
    box-shadow: 0 0 1em black;
    height: 8vh;

  }
  .nav-list {
    list-style: none;
    display: flex;
    position: absolute;
    right: 60px;
  }
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  
  
  
  